* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    margin: 100px 0;
    .heading {
        float: left;
    }
    
    .team-heading {
        float: right;
        h3 {
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }
        p {
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }
    }
    
    h1 {
        font-size: 36px;
        font-family: 'PT Serif', serif;
    }
}

